<!-- ControlSidebar.razor -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>عنوان</h5>
        <p>محتوای ستون</p>
    </div>
</aside>