/* Card Component */
.blz-card {
    /* Card Variables */
    --blz-card-padding: var(--blz-spacing-md);
    --blz-card-background: var(--blz-base-color);
    --blz-card-border-radius: var(--blz-border-radius-medium);
    --blz-card-border-color: var(--blz-neutral-border-color);

    background-color: var(--blz-card-background);
    border: var(--blz-border-width-thin) solid var(--blz-card-border-color);
    border-radius: var(--blz-card-border-radius);
    transition: background-color 0.3s;
}

/* Header and Footer Styling */
.blz-card-header,
.blz-card-footer {
    --blz-card-header-footer-bg: var(--blz-neutral-color);
    --blz-card-header-footer-padding-y: var(--blz-spacing-md);
    --blz-card-header-footer-padding-x: var(--blz-spacing-lg);
    --blz-card-header-footer-color: var(--blz-secondary-color);

    background-color: var(--blz-card-header-footer-bg);
    color: var(--blz-card-header-footer-color);
    font-weight: var(--blz-font-weight-bold);
    padding: var(--blz-card-header-footer-padding-y) var(--blz-card-header-footer-padding-x);
    transition: background-color 0.3s, color 0.3s;
}

/* Header with Rounded Top Corners */
.blz-card-header {
    border-radius: var(--blz-card-border-radius) var(--blz-card-border-radius) 0 0;
    padding-bottom: var(--blz-card-header-footer-padding-y);
}

/* Footer with Rounded Bottom Corners */
.blz-card-footer {
    border-radius: 0 0 var(--blz-card-border-radius) var(--blz-card-border-radius);
    padding-top: var(--blz-card-header-footer-padding-y);
}

/* Card Body */
.blz-card-body {
    --blz-card-body-padding: var(--blz-spacing-md);
    --blz-card-body-color: var(--blz-secondary-color);

    padding: var(--blz-card-body-padding);
    color: var(--blz-card-body-color);
    line-height: var(--blz-line-height-base);
}
