@page "/account/login"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject IBonAuthService AuthService

<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>شرکت</b> گویا</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">برای ورود شروع کنید!</p>

            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger">@ErrorMessage</div>
            }
            <DynamicForm TModel="LoginModel" OnSubmit="HandleLogin" />

            <!-- Rest of your content -->
        </div>
    </div>
</div>

@code {
    private string ErrorMessage;
    private string ReturnUrl;

    protected override void OnInitialized()
    {
// Get the ReturnUrl from the query string
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("ReturnUrl", out var returnUrl))
        {
            if (UrlIsLocal(returnUrl))
            {
                ReturnUrl = returnUrl;
            }
        }

        if (string.IsNullOrEmpty(ReturnUrl))
        {
            ReturnUrl = "/";
        }
    }

    private bool UrlIsLocal(string url)
    {
        return Uri.TryCreate(url, UriKind.Relative, out var _) && !url.StartsWith("http", StringComparison.OrdinalIgnoreCase);
    }

    private async Task HandleLogin(LoginModel Model)
    {
        ErrorMessage = null;

// Get user by username
        var result = await AuthService.LoginWithCookieAsync(Model.Username, Model.Password, Model.RememberMe);
        if (result)
        {
            NavigationManager.NavigateTo(ReturnUrl);
        }
        else
        {
            ErrorMessage = "نام کاربری یا رمز عبور اشتباه است.";
        }
    }


public class LoginModel
    {
        [Required(ErrorMessage = "لطفا نام کاربری خود را وارد کنید.")]
        [InputField(Label = "نام کاربری", Placeholder = "نام کاربری", Icon = "fas fa-user")]
        public string Username { get; set; } = string.Empty;

        [Required(ErrorMessage = "لطفا رمز عبور خود را وارد کنید.")]
        [InputField(Label = "رمز عبور", Placeholder = "رمز عبور", Icon = "fas fa-lock", IsPassword = true)]
        public string Password { get; set; } = string.Empty;

        [InputField(Label = "مرا به یاد بسپار")]
        public bool RememberMe { get; set; }
    }


}