<!-- Footer.razor -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        هر چیزی شما میخواین
    </div>
    <!-- Default to the left -->
    <strong>کپی رایت &copy; 2014-2021 <a href="https://aminarjmand.com">AminArjmand.com</a>.</strong> تمامی حقوق محفوظ می باشد.
</footer>