@namespace Bonyan.Ui.Blazimum.Components.Cards
@inherits Bonyan.Ui.Blazimum.Bases.BlzBaseComponent
<div class="blz-card-body @Class" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}