/* Main List Container */
.blz-list {
    /* Define NestedList-specific color tokens */
    --blz-nestedlist-base-color: #f9f9f9;
    --blz-nestedlist-shade-1: #f6f6f6;
    --blz-nestedlist-shade-2: #f2f2f2;
    --blz-nestedlist-shade-3: #efefef;

    list-style-type: none;
    padding: 0;
}

/* List Item Styling */
.blz-list-item {
    position: relative;
    padding: 0;
}

/* Header Styling */
.blz-list-item-header {
    display: flex;
    gap: var(--blz-spacing-sm);
    align-items: center;
    cursor: pointer;
    color: var(--blz-secondary-color);
    font-family: var(--blz-font-family-base);
    font-size: var(--blz-font-size-md);
    line-height: var(--blz-spacing-md);
    padding: var(--blz-spacing-sm) var(--blz-spacing-md);
    transition: color 0.3s ease;
}
.blz-expand-icon-container, .blz-single-item-icon {
    transition: transform 0.3s ease;
}

.blz-expand-icon-container.rotate {
    transform: rotate(180deg); /* Rotate icon when expanded */
}

/* Hover Effect for Header - Only change text and icon color */
.blz-list-item-header:hover {
    color: var(--blz-primary-color);
    background-color: var(--blz-primary-subtle-color);
}

/* Icon Styling */
.blz-expand-icon, .blz-single-item-icon {
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Icon Hover Effect */
.blz-list-item-header:hover .blz-expand-icon,
.blz-list-item-header:hover .blz-single-item-icon {
    color: var(--blz-primary-color);

}

/* Rotate Expand/Collapse Icon */
.blz-expand-icon-container, .blz-single-item-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Active Item Styling */
.blz-list-item-header.active {
    border: 1px solid var(--blz-primary-color); /* Border to indicate active item */
    border-radius: var(--blz-border-radius-small); /* Add border-radius */
    color: var(--blz-primary-color); /* Change color for active state */
}

/* Indentation for each nesting level */
.blz-list > .blz-list-item > .blz-list-item-header {
    padding-left: var(--blz-spacing-md);
}

.blz-list > .blz-list-item > .blz-collapsible-content > .blz-list > .blz-list-item > .blz-list-item-header {
    padding-left: calc(var(--blz-spacing-md) * 2);
}

.blz-list > .blz-list-item > .blz-collapsible-content > .blz-list > .blz-list-item > .blz-collapsible-content > .blz-list > .blz-list-item > .blz-list-item-header {
    padding-left: calc(var(--blz-spacing-md) * 3);
}

.blz-list > .blz-list-item > .blz-collapsible-content > .blz-list > .blz-list-item > .blz-collapsible-content > .blz-list > .blz-list-item > .blz-collapsible-content > .blz-list > .blz-list-item > .blz-list-item-header {
    padding-left: calc(var(--blz-spacing-md) * 4);
}
