@use '../utilities';

// Border Width Tokens
$blz-border-width-thin: 1px;
$blz-border-width-medium: 2px;
$blz-border-width-thick: 3px;

// Border Radius Tokens
$blz-border-radius-sm: 4px;
$blz-border-radius-md: 8px; // Default
$blz-border-radius-lg: 16px;

